<div class="container" >
  <div class="row justify-content-center">
      <table class="table table-hover bg-light" style="text-align: center">
        <thead>
          <tr class="table-primary">
            <th colspan="2" scope="col"><%= @movie.title %></th>
          </tr>
          <tr >
            <th scope="col">Release Year: <%= @movie.release_year %></th>
            <th scope="col">Average Rating: <%= star_rating(@movie.avg_rating).html_safe %></th>
          </tr>
          <tr>
            <td colspan="2"><%= @movie.synopsis %></td>
          </tr>
        </thead>
        <tbody>
            <tr class="table-primary">
              <th colspan="2" scope="col">User Reviews</th>
            </tr>
          <% @movie.reviews.each do |review| %>
            <tr>
              <td><%= link_to "#{review.user.name}", movie_review_path(@movie, review) %></td>
              <td><%= link_to star_rating(review.rating).html_safe, movie_review_path(@movie, review) %></td>
            </tr>
          <% end %>
          <% if logged_in? then %>
            <tr>
              <td colspan="2"><%= button_to "Add New Review", new_movie_review_path(@movie), method: :get, class: "btn btn-primary" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div><!-- end row -->
</div><!-- end container -->
