<%= form_for @user do |f| %>
  <%= f.label :name, class: "col-form-label col-form-label-sm" %>
  <%= f.text_field :name, class: "form-control" %>
  <%= f.label :email, class: "col-form-label col-form-label-sm" %>
  <%= f.text_field :email, class: "form-control" %>
  <%= f.label :password, class: "col-form-label col-form-label-sm" %>
  <%= f.password_field :password, class: "form-control" %>
  <%= f.label :password_confirmation, class: "col-form-label col-form-label-sm" %>
  <%= f.password_field :password_confirmation, class: "form-control" %><br>
  <table>
    <tr>
      <td>
        <%= f.submit class: "btn btn-primary" %>
      </td>
      <%end%>
      <td> Or </td>
