<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs text">
      <br>
      <h3>Edit Account Details</h3>
    </div> <!-- end col-xs -->
  </div> <!-- end row -->
  <div class="row justify-content-center">
    <div class="col-xs">
      <div class="form-box">
        <div class="form-group">
          <%= form_for @user do |f| %>
            <%= f.label :name, class: "col-form-label col-form-label-sm" %>
            <%= f.text_field :name, class: "form-control" %>
            <%= f.label :email, class: "col-form-label col-form-label-sm" %>
            <%= f.text_field :email, class: "form-control" %>
            <%= f.label :password, class: "col-form-label col-form-label-sm" %>
            <%= f.password_field :password, class: "form-control" %>
            <%= f.label :password_confirmation, class: "col-form-label col-form-label-sm" %>
            <%= f.password_field :password_confirmation, class: "form-control" %><br>
            <table>
              <tr>
                <td>
                  <%= f.submit "Edit Account", class: "btn btn-primary" %>
                </td>
                <%end%>
                <td> Or </td>
                <td>
                  <%= button_to "Delete Account", user_path(@user), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
                </td>
              </tr>
            </table>
        </div> <!-- end form-group  -->
      </div> <!-- end form-box  -->
    </div> <!-- end col-xs  -->
  </div> <!-- end form-row  -->
</div> <!-- end container  -->
