<div class="login">
  <div class="container">
    <div class="form">

    <h1>Sign up or <%= link_to('Use you Google account to Sign-up / Log-in', '/auth/google_oauth2') %></h1>

    <%= form_for @user do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %><br>
      <%= f.label :email %>
      <%= f.text_field :email %><br><br>
      <%= f.label :password %>
      <%= f.password_field :password %><br>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %><br><br>
      <%= f.submit "Sign Up" %>
    <%end%>

    </div>
  </div>
</div>
