<div class="container" >
  <div class="row justify-content-center">
      <table class="table bg-light" style="text-align: center">
        <%= render "reviews/thead" %>
        <tbody>
            <tr class="table-primary">
              <th colspan="2" scope="col">Selected Review</th>
            </tr>
            <tr>
              <th scope="col">User</th>
              <th scope="col">Rating</th>
            </tr>
            <tr>
              <td><%= @review.user.name %></td>
              <td><%= star_rating(@review.rating).html_safe %></td>
            </tr>
            <tr>
              <th colspan="2" scope="col">Review Content</th>
            </tr>
            <tr style="text-align: justify">
              <td colspan="2"><%= @review.content %></td>
            </tr>
            <% if current_user == @review.user then %>
              <tr class="table-light">
                <td><%= button_to "Edit Review", edit_movie_review_path(@movie, @review), method: :get, class: "btn btn-primary" %></td>
                <td><%= button_to "Delete Review", movie_review_path(@movie, @review), method: :delete, class: "btn btn-danger" %></td>
              </tr>
            <% end %>
        </tbody>
      </table>
  </div><!-- end row -->
</div><!-- end container -->
