<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/header" %>
  </head>

  <body>
    
    <% if logged_in? then %>
      <%= render "layouts/navbar_logged_in" %>
    <% else %>
      <%= render "layouts/navbar_logged_out" %>
    <% end %>

    <%= render "layouts/flash" %>

    <%= yield %>

  </body>
</html>
